---
- hosts: ubuntu
  become: true
  
  tasks:

  - name: install automount
    ansible.builtin.apt:
      name: "{{item}}"
      state: present
      update_cache: true
    loop:
      - autofs
      - nfs-common
      - python3

  - name: Modify config autofs
    ansible.builtin.lineinfile: 
      path: /etc/auto.nfs
      line: "shared -fstype=nfs4 192.168.10.11:/srv/nfs/shared"
      create: yes #Crea si no esta el archivo

  - name: Configurar montaje en /etc/fstab usando lineinfile
    ansible.builtin.lineinfile:
      path: /etc/auto.master.d/nfs-autofs
      line: '/mnt /etc/auto.nfs'
      create: yes #Crea si no esta el archivo

      #hacer cat de /mnt/shared/readme.nfs.txt